*{
    color:white;
}

body
{
    background-color:grey;
}

.tetris {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: fit-content;
    background-color: #121012;
}

.tetris__wrapper {
    border-right: 5px solid #BBBABC;
    position: relative;
}

.score__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score__next-shape {
    background-color: #252329;
}

.score__title, .score__number{
    font-size: 2.5rem;
    padding-top: 3%;
}

.score__number {
    position: relative;
    left: 15%;
}

.score__btn {
    margin-top : 1vh;
    border : 1px solid white;
    border-radius: 10%;
    font-size : 2rem;
    height: 7%;
    width: 60%;
    padding : 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}

.gameover {
    background-color: #808080;
    position: absolute;
    width: 100%;
    height: 15%;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.smaller {
    font-size: 2.3rem;
}

.hidden {
    visibility: hidden;
}

